In [1]:
! pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in c:\users\blong\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.9-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 12.5 MB/s eta 0:00:00
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB ? eta 0:00:00
Requirement already satisfied: ipython in c:\users\blong\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: six in c:\users\blong\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\blong\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\blong\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: decorator in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: backcall in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\blong\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\users\blong\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\blong\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.9 sqlparse-0.4.3

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///C:\Users\bilene\book.db

Traceback (most recent call last):
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3275, in raw_connection
    return self.pool.connect()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 455, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1271, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 719, in checkout
    rec = pool._do_get()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 396, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 681, in __init__
    self.__connect()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 906, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 636, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
sqlite3.OperationalError: unable to open database file

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3251, in connect
    return self._connection_cls(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 2413, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3275, in raw_connection
    return self.pool.connect()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 455, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1271, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 719, in checkout
    rec = pool._do_get()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 396, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 681, in __init__
    self.__connect()
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 906, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 636, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\blong\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
output = %sql SELECT pop FROM indicators0

Traceback (most recent call last):
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
import pandas as pd
pd.DataFrame(output,columns=['pop'])

Empty DataFrame
Columns: [pop]
Index: []

In [10]:
%%sql 
output2 <<
SELECT pop 
FROM indicators0

Traceback (most recent call last):
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
output2

NameError: name 'output2' is not defined

In [ ]:
%%sql
SELECT name FROM topnames
LIMIT 5

In [ ]:
%%sql
SELECT year, name, sex FROM topnames
LIMIT 5

In [ ]:
%%sql
SELECT year AS Year, name, sex FROM topnames
LIMIT 5

In [ ]:
%%sql
SELECT * FROM topnames
LIMIT 5

In [ ]:
%%sql
-- Here is a one line comment
/* Here is a multi line comment
 Another one */
    
-- The following returns all tables that exist
-- in the database
SELECT name FROM sqlite_master WHERE type='table'

In [ ]:
%%sql
-- Row filtering
SELECT * FROM indicators 
WHERE year>=2000
LIMIT 10

In [ ]:
%%sql
SELECT * FROM indicators 
WHERE pop > 1000 AND life > 60
LIMIT 10

In [ ]:
%%sql
SELECT * FROM countries
LIMIT 10

In [ ]:
%%sql
-- Return only high income countries
SELECT * FROM countries
WHERE income = 'High income'
LIMIT 5

In [ ]:
%%sql
-- Return rows where baby name is not John
-- In pandas: name != 'John'
SELECT name, sex FROM topnames
WHERE name <> 'John'
-- keep in mind this still works: WHERE name != 'John'
LIMIT 5

In [ ]:
%%sql
SELECT * FROM countries
LIMIT 5

In [ ]:
%%sql
-- Return countries with land > 10000 and the country must be either
-- High income, or Upper middle income

SELECT * FROM countries
WHERE (land>10000) AND (income='High income' OR income='Upper middle income')
LIMIT 5

In [ ]:
%%sql
-- Filter intervals
SELECT * FROM indicators
WHERE life BETWEEN 65 AND 75
LIMIT 5

In [ ]:
%%sql
-- Return where year is 2017 and countries with code
-- CHN, IND, FRA, USA
SELECT * FROM indicators
WHERE year = 2017 AND code IN ('CHN','IND','FRA','USA')
LIMIT 5

In [ ]:
%%sql
-- Wildcard, %
-- Return countries whose names start with "United"
SELECT * FROM countries
WHERE country LIKE 'United%'
LIMIT 5

In [ ]:
%%sql
-- Wildcard
-- Return back countries whose names start with A and end with a
SELECT * FROM countries
WHERE country LIKE 'A%a'
LIMIT 10

In [ ]:
%%sql
-- Return back the countries whose code ends with "ZA"
-- forces the output "code" to have three characters
SELECT * FROM countries
WHERE code LIKE '_ZA'

In [ ]:
%%sql
-- Return back the countries whose code ends with "A"
-- force the output "code" to have three characters
SELECT * FROM countries
WHERE code LIKE "__A"
LIMIT 10

In [ ]:
%%sql
-- return back non-missing values based on a column
SELECT * FROM countries
WHERE land IS NOT NULL
LIMIT 50

In [ ]:
%%sql
-- return back missing values based on a column
SELECT * FROM countries
WHERE land IS NULL
LIMIT 50

In [ ]:
%%sql
-- Create a new column called "newpop" that equals pop*1.15 in
-- the table indicators0
-- round the fractions
SELECT *, ROUND(pop*1.15,2) AS newpop FROM indicators0
LIMIT 5

In [ ]:
%%sql
-- create an indicator variable (dummy variable, binary variable)
-- that equals 1 if life > 75, 0 otherwise.
SELECT *, life>75 AS longlife FROM indicators0
LIMIT 5

In [ ]:
'word1' + ' ' + 'word2'

In [ ]:
%%sql
-- create a new column called country2 that has the following
-- format 'Countryname (3digitcode)'
-- || in sql is equivalent to + in python
SELECT *, country || ' (' || code || ')' AS country2 FROM countries
LIMIT 5

In [ ]:
%%sql
-- COUNT function counts all values
-- countries table has 217 observations
SELECT COUNT(*) AS total FROM countries

In [ ]:
%%sql
-- COUNT function counts all values
-- countries table has 7 missing rows for 'land'
SELECT COUNT(*) AS missing_land FROM countries
WHERE land IS NULL

In [ ]:
%%sql
-- put the two numbers side by side
-- an example of a nested sql queries
SELECT COUNT(*) AS total,
(SELECT COUNT(*) FROM countries
WHERE land IS NULL) AS missing_land
FROM countries

In [ ]:
%%sql
-- count the number of unique names inside the topnames table
-- change the column name to unique_babynames
SELECT COUNT(DISTINCT name) AS unique_babynames FROM topnames

In [ ]:
%%sql
SELECT * FROM indicators0
LIMIT 5

In [ ]:
%%sql
-- return a table that contains the average pop, gdp
-- life, cell in the entire table
SELECT ROUND(AVG(pop),2) AS avg_pop, AVG(gdp) AS avg_gdp, 
AVG(life) AS avg_life, AVG(cell) AS avg_cell, COUNT(*) AS n_obs
FROM indicators0

In [ ]:
%%sql
-- return back all columns that exist in the indicators0 table
-- for countries whose gdp is greater than the average gdp
-- of the countries in the dataset
SELECT *
FROM indicators0
WHERE gdp>(SELECT AVG(gdp) FROM indicators0)

In [ ]:
%%sql
-- return back the countries whose gdp is greater than
-- the average gdp in 1990 for the year 1990
-- using the indicators table
SELECT * FROM indicators
WHERE gdp>(SELECT AVG(gdp) FROM indicators
          WHERE year=1990)
AND year=1990

In [ ]:
%%sql
-- calculate the total land area of all countries in the
-- countries table
SELECT SUM(land) FROM countries

In [ ]:
%%sql
-- return the total land area by region
SELECT region, SUM(land) AS total_land FROM countries
GROUP BY region
ORDER BY total_land DESC

In [ ]:
%%sql
-- return back a table that shows 
-- the land area of each county
-- sorted by land area (descending)
SELECT country, land FROM countries
ORDER BY land DESC
LIMIT 10

In [ ]:
%%sql
-- how do you groupby and then filter after?
SELECT region, SUM(land) AS total_land FROM countries
GROUP BY region
HAVING total_land > 20000000

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

In [ ]:
%%sql
SELECT * FROM topnames
LIMIT 10

In [ ]:
%%sql
-- Return the top 10 most popular baby names that ever existed in the U.S. history
SELECT name, SUM(count) AS tot_count
FROM topnames
GROUP BY name
ORDER BY tot_count DESC
LIMIT 10

In [ ]:
%%sql
-- Return the top 10 "oldest" topnames
-- Use average year by name as a proxy
SELECT name, ROUND(AVG(year),2) AS avg_year
FROM topnames
GROUP BY name
ORDER BY avg_year ASC
LIMIT 10

In [ ]:
%%sql
-- Return the top 10 "newest" topnames
-- Similarly, use average year by name as a proxy
SELECT name, ROUND(AVG(year),2) AS avg_year
FROM topnames
GROUP BY name
ORDER BY avg_year DESC
LIMIT 10

In [ ]:
#####
# Merge in SQL

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///C:\Users\bilene\school.db

In [ ]:
%sql SELECT name FROM sqlite_master WHERE type='table'

In [8]:
%%sql
-- Suppose a student has registered for four classes,
-- whose classid fields are givne by 21014, 21088, 21256,
-- and 21444. Return back the instructor data for the instructors
-- who are teaching these classes, including their id, first and
-- last name, their departmentid, and the department's division

Traceback (most recent call last):
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\blong\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])